{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Add" %}{% endblock title %}
{% block content %}
<h2>{% trans 'Add' %}</h2>
<h3>{{ teststask.category }}</h3>
<h3>{{ teststask.title }}</h3>		
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<table>
		{{ form }}
	</table>
	<div class="div-button-center">
		<button type="submit" class="btn btn-outline-success" style="width:100px">{% trans "Save" %}</button>	
		<a class="btn btn-outline-info" style="width:100px" href="{% url 'question_index' teststask_id %}">{% trans "Back" %}</a> 	
	</div>	
</form>
<script type="text/javascript">
	$(".chosen").chosen();
</script>
{% endblock content %}