{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "List" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "teststasks" %}</h2>
<p><a href="{% url 'teststask_create'%}">{% trans "Add" %}</a></p>
<hr>
{% if teststask.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th><p>{% trans "category_title" %}</p></th>
				<th><p>{% trans "teststask_title" %}</p></th>
				<th><p>{% trans "minutes" %}</p></th>
				<th><p>{% trans "limit" %}</p></th>
				<th><p>{% trans "questions" %}</p></th>
				<th><p></p></th>				
			</tr>
		</thead>
		<tbody>
			{% for p in teststask %}
			<tr>
				<td><p>{{ p.category }}</p></td>
				<td><p>{{ p.title }}</p></td>
				<td><p>{{ p.minutes }}</p></td>
				<td><p>{{ p.limit }}</p></td>
				<td><p><a href="{% url 'question_index' p.id %}">{% trans "questions" %}</a></p></td>			
				<td><p>
					<a href="{% url 'teststask_edit' p.id %}">{% trans "Change" %}</a> |
					<a href="{% url 'teststask_read' p.id %}">{% trans "View" %}</a> |
					<a onclick="return confirm('Удалить запись?')" href="{% url 'teststask_delete' p.id %}">{% trans "Delete" %}</a>
				</p></td>			
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}

