{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App Name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<div class="jumbotron">
	<div class="row justify-content-center">
		<p>
		{% if LANGUAGE_CODE == 'kk' %}
			<h1>Маркетинг</h1>
			<hr>
			<p>Маркетинг (ағылшынша маркетингтің «нарық әрекеті» деген сөзінен шыққан) - бұл ұйымдық функция және тұтынушыларға өнімді немесе қызметті құру, жылжыту және ұсыну және ұйымның пайдасы үшін олармен қарым-қатынастарды басқару процестерінің жиынтығы. Қорыта айтқанда, маркетинг – пайда табу мақсатында нарық қажеттіліктерін қанағаттандыруға бағытталған қызмет. Жалпы мағынада маркетингтің мақсаты «адам және әлеуметтік қажеттіліктерді анықтау және қанағаттандыру» болып табылады.</p>
			<p>Маркетингтің негізгі мақсаттары:</p>
			<ul>
				<li>Нарықты зерттеу, тұтынушыларды, фирмалардың құрылымын, өнімдерді зерттеу және кәсіпорындардың ішкі ортасын талдау.</li>
				<li>Компанияны қызықтыратын салаларда компания өнімдерін нақты және әлеуетті тұтынушылардың қажеттіліктерін зерттеу, талдау және бағалау.</li>
				<li>Компанияның жаңа өнімдері мен қызметтерін әзірлеуге маркетингтік қолдау көрсету.</li>
				<li>Компания жұмыс істейтін немесе жұмыс істейтін нарықтардың жай-күйін және дамуын талдау, бағалау және болжау, соның ішінде бәсекелестердің қызметін, дайын өнімнің сапа менеджменті мен бәсекеге қабілеттілігін зерттеу.</li>
				<li>Логистиканы ұйымдастыру.</li>
				<li>Компанияның ассортимент саясатын қалыптастыру.</li>
				<li>Компанияның баға саясатын әзірлеу, өзгермелі жағдайларда бағаны өзгерту механизмін әзірлеу.</li>
				<li>Компанияның нарықтағы мінез-құлқының стратегиясы мен тактикасын қалыптастыруға, оның ішінде баға саясатын әзірлеуге қатысу.</li>
				<li>Компанияның өнімдері мен қызметтерін сату.</li>
				<li>Маркетингтік коммуникациялар.</li>
				<li>Қызмет.</li>
				<li>Сатып алушылар мен тұтынушыларды ынталандыруды ұйымдастыру.</li>
				<li>Көшбасшыны құру.</li>
			</ul>
		{% else %}
			<h1>Маркетинг</h1>
			<hr>
			<p>Маркетинг (от англ. marketing «рыночная деятельность») — организационная функция и совокупность процессов создания, продвижения и предоставления продукта или услуги покупателям и управление взаимоотношениями с ними с выгодой для организации. Более кратко, маркетинг — деятельность, направленная на удовлетворение рыночных потребностей с целью извлечения прибыли. В общем смысле предназначение маркетинга состоит в «определении и удовлетворении человеческих и общественных потребностей».</p>
			<p>Основные задачи маркетинга:</p>
			<ul>
				<li>Изучение рынка как такового, изучение потребителей, структуры фирм, товаров и анализ внутренней среды предприятий.</li>
				<li>Исследование, анализ и оценка нужд реальных и потенциальных потребителей продукции фирмы в областях, интересующих фирму.</li>
				<li>Маркетинговое обеспечение разработки новых товаров и услуг фирмы.</li>
				<li>Анализ, оценка и прогнозирование состояния и развития рынков, на которых оперирует или будет оперировать фирма, включая исследование деятельности конкурентов, управление качеством и конкурентоспособности готовой продукции.</li>
				<li>Организация материально-технического снабжения.</li>
				<li>Формирование ассортиментной политики фирмы.</li>
				<li>Разработка ценовой политики фирмы, разработка механизма изменения цен в меняющихся условиях.</li>
				<li>Участие в формировании стратегии и тактики рыночного поведения фирмы, включая разработку ценовой политики.</li>
				<li>Сбыт продукции и услуг фирмы.</li>
				<li>Коммуникации маркетинга.</li>
				<li>Сервисное обслуживание.</li>
				<li>Организация поощрений покупателей и потребителей.</li>
				<li>Лидогенерация.</li>
			</ul>
		{% endif %}
	</div>
</div>
{% endblock content %}

